################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlanningTool/v14
/SQLQuery3.sql
/SQLQuery1.sql
/Drop dbo.Employee.sql
